* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Dongle', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
}
/*header*/
.container-fluid {
    z-index: 5;
    padding: 1em 1em 0em 1em;
    border-bottom: 1px solid grey;
    background-color: white;
}

.google-logo {
    height: 25px;
}

#privacy {
    font-size: 1.4em;
    font-weight: 500;
    color: grey;
    text-decoration: none;
}

.link-row .col-12 a {
    font-weight: 500;
    color: grey;
    text-decoration: none;
    display: inline-block;
    margin-top: 1em;
    margin-right: 1.5em;
    padding-bottom: 1em;
}

.link-row .col-12 a:active,
.link-row .col-12 a:focus {
    border-bottom: 2px solid blue;
}

.fa-bars {
    font-size: 25px;
    margin-right: 0.5em;
}

.avatar {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.avatar img {
    width: 100%;
    border-radius: 100%;
}

/*main*/
main {
    padding: 8em 15%;
}

.faq-request {
    padding-bottom: 1em;
    padding-top: 2em;
    font-size: 1.5em;
    font-weight: 600;
}

.paragraph {
    font-size: 0.9em;
    line-height: 1.5em;
    font-family: 'Roboto',arial,sans-serif;
}

ol {
    padding-left: 1.5em;
    margin-top: 1.5em;
    line-height: 1.5em;
    font-size: 0.9em;
}

li {
    line-height: 1.5em;
    margin-top: 1.5em;
    padding-left: 1.5em;
}

a {
    text-decoration: none;
}